body {
    background-color: #0044dd;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}

div {
    background-color: #ffffff;
    height: 30%;
}

.A {
    width: 30px;
}

.B {
    width: 40px;
}

.C {
    width: 25px;
}

.D {
    width: 35px;
}

.E {
    width: 15px;
}