body {
    background-color: antiquewhite;
}
nav {
    display: flex;
    justify-content: center;
    gap: 5px;
    height: 10%;
    background-color: #ffffff50;
}

@media screen and (max-width: 500px){
    nav {
        background-color: #ffffff;
        width: 5%;
        height: 5%;
    }
}